.booking {
    max-width: 1200px; 
    
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;

    margin-top: 50px;
}

.booking input {
    padding: 10px;

    border: 2px solid #9dada1;

    font-size: 14px;

    color: #828282;
}

.booking input::placeholder {
    color: #bebebe;
}

.booking input:focus {
    color: #828282;
}

.booking label {
    text-transform: capitalize;

    margin-bottom: 5px;
}

.date,
.time,
.number {
    width: 150px;
    height: 40px;

    margin-bottom: 25px;
}

.name {
    width: 237.5px;
    height: 40px;

    margin-bottom: 25px;
}

.email,
.tel {
    width: 237.5px;
    height: 40px;

    margin-bottom: 25px;
}

.comment {
    height: 120px;

    padding: 10px;

    border: 2px solid #9dada1;
    margin-bottom: 50px;

    font-size: 14px;
} 

.comment::placeholder {
    color: #bebebe;
}

.comment:focus {
    color: #828282;
}

.booking-title {
    margin-top: 100px;
    
    text-align: center;
}

.booking-date-time-number {
    display: flex;
    flex-direction: row;

    gap: 25px;
}

.booking-comment {
    display: flex;
    flex-direction: column;
}

.booking-date,
.booking-time,
.booking-number,
.booking-first-name,
.booking-last-name,
.booking-email,
.booking-tel {
    display: flex;
    flex-direction: column;
}


.details {
    display: flex;
    flex-direction: column;
}

.booking-name,
.booking-contact {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.booking-contact {
    display: flex;
    flex-direction: row;
}

.booking button {
    width: 100px;
    height: 40px;

    margin-bottom: 100px;

    background-color: #9dada1;

    font-size: 14px;
    color: #fff;
}

.booking button:hover {
    background-color: #828282;
}