.header {
    max-width: 1400px;
    height: 50px;

    margin: 0 auto;
    margin-bottom: 50px;

    padding: 20px;

}

.header-link {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-tel {
    font-size: 18px;
}

.home-title {
    margin-left: 500px;

    font-size: 15px;
}

.book-now {
    width: 100px;
    height: 40px;

    margin-left: 450px;

    background-color: #9dada1;

    font-size: 14px;
    color: #fff;
}

.book-now:hover {
    background-color: #828282;
}
