.header {
    max-width: 1400px;
    height: 50px;

    margin: 0 auto;
    margin-bottom: 50px;

    padding: 20px;

}

.header-link {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-tel {
    font-size: 18px;
}

.home-title {
    margin-left: -50px;
    
    font-size: 15px;
}

@media screen and ( max-width: 390px ) {
    .header-tel {
        display: hidden;
    }
}
