.home {
    max-width: 1200px;

    margin: 0 auto;
    margin-top: 100px;
}

.home-top {
    display: flex;
    flex-direction: row;

    gap: 100px;

    margin-bottom: 50px;
}

.home-top-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-top-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-size: 18px;
    color: #bebebe;

    line-height: 25px;
}

.wine-and-cheese {
    width: 500px;
    height: 300px;
}

.poached-egg {
    width: 600px;
    height: 600px;

    margin-bottom: 10px;
}

.home-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 100px;

    margin-bottom: 100px;
}

.home-bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: start;

    font-size: 18px;
    color: #bebebe;

    line-height: 25px;
}

.home-bottom-right-title {
    margin-bottom: 15px;

    text-transform: capitalize;
    font-weight: 400;
    color: #000;
}

.terrace {
    width: 600px;
    height: 330px;
}