#basic-button {
    width: 40px;
    height: 40px;

    font-size: 28px;

    color: #000;
}

#basic-button:hover {
    border-radius: 0%;

    background-color: #9dada1;
    color: #fff;
}

#basic-menu {
    padding: 5px;
}

#menu-icon-menu:hover,
#menu-icon-corporative:hover,
#menu-icon-contacts:hover,
#menu-icon-booking:hover {
    background-color: #9dada1;

    color: #fff;
}