.newsletter {
    max-width: 1200px;
    height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    margin: 0 auto;
    margin-bottom: 300px;
}

.newsletter h1 {
    margin-bottom: 20px;

    font-size: 36px;
    font-weight: 400;

    text-transform: capitalize;
}

.newsletter p {
    margin-bottom: 15px;

    font-size: 18px;
    color: #bebebe;
}

.newsletter-input-sign-up {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.newsletter input {
    width: 250px;
    height: 40px;

    padding-left: 10px;

    border: 2px solid #bebebe;

    font-size: 14px;
    color:#828282;
}

.newsletter-email::placeholder,
.newsletter-name::placeholder {
    font-size: 14px;
    color: #bebebe;
}

.sign-up-button {
    width: 100px;
    height: 40px;

    background-color: #9dada1;

    font-size: 14px;
    color: #fff;
}

.sign-up-button:hover {
    background-color: #828282;
}

#alert-newspaper {
    width: 250px;
    height: 40px;

    padding-left: 10px;
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    line-height: 2.43;

    font-size: 12px;
    font-family: 'Questrial', sans-serif;

    border-radius: 0px;
}